@page "/topping"
@inject IMediator mediator

@using Architecture.Toppings.Query.GetAllToppingsQuery

@if (IsProcessing)
{
	<LoadingComponent></LoadingComponent>
}
else
{
	<h3>AllTopings</h3>
	<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
					Data="@toppings" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single">
		<Columns>
			<RadzenDataGridColumn Property="@nameof(Topping.Name)" Filterable="false" Title="Name" Frozen="true" Width="160px" TextAlign="TextAlign.Center" />
			@if (false)@* image exist, display it (not implemetned yet) *@
			{ }
			<RadzenDataGridColumn Property="@nameof(Topping.IsAvailable)" Title="Available" Frozen="true" Width="160px" />
			<RadzenDataGridColumn Property="@nameof(Topping.Price)" Title="Price" Width="160px" />
		</Columns>
	</RadzenDataGrid>
}

